<mtapp:setting id="mail_address" label="<__trans phrase="From email address">"
  show_hint="0">
  <input type="text" name="mail_address" id="mail_address" value="<mt:GetVar name="mail_address">" />
</mtapp:setting>
